body {
    background-color: black;
    text-align: center;
    color:white;
}

.title {
   font-family: Verdana, Geneva, Tahoma, sans-serif; 
   font-weight: normal;
   font-size: 50px;
   color: white;
}

.subtitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
}

.description_exc {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    font-size: 21px;
}

.downloand_link {
    font-size: 16px;
    background-color: black;
    color: aquamarine;
}

.downloand_link:link, .downloand_link:visited {
    font-size: 16px;
    background-color: black;
    color: aquamarine;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

.video_esc {
    background-color: black;
}

.img_esc {
    background-color: black;
    text-align: center;
}

footer {
    text-align: right;
}
