body {
    background-color: black;
    text-align: center;
    color:white;
}

.title {
   font-family: Verdana, Geneva, Tahoma, sans-serif; 
   font-weight: normal;
   font-size: 50px;
   color: white;
}

.subtitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
}

.downloand_link {
    color:aquamarine;
    font-size: 16px;
}

.video_esc {
    background-color: black;
}

.img_esc {
    background-color: black;
    text-align: center;
}

footer {
    text-align: right;
}
